:root {
    --whisper: #f6f6f6;
    --sterling: #e7e7e7;
    --white: #ffffff;
    --cloudburst: #22285A;
    --cloudburst-sheer: #9193AC;
    --cloudburst-deep: #1A1E43;
    --flamingo: #ED5E6F;
    --shakespeare: #079ED3;
}